name: Build
on: [pull_request, push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install C++ toolchain
        uses: numworks/setup-arm-toolchain@2020-q2
      - name: Install nwlink
        run: npm install -g nwlink
      - name: Run make
        run: make
